h1 {
  text-align: center;
  color: aqua;
}

.cube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.cube:hover {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.side {
  height: 95px;
  position: absolute;
  width: 95px;
}

.top {
  background: hotpink;
  -webkit-transform: rotate(-45deg) skew(15deg, 15deg);
          transform: rotate(-45deg) skew(15deg, 15deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.left {
  background: hotpink;
  -webkit-transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
          transform: rotate(15deg) skew(15deg, 15deg) translate(-50%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.right {
  background: hotpink;
  -webkit-transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
          transform: rotate(-15deg) skew(-15deg, -15deg) translate(50%, 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

/* 3D*/
.cube-container {
  height: 200px;
  -webkit-perspective: 300;
          perspective: 300;
  position: relative;
  width: 200px;
}

.cube1 {
  margin-left: 100px;
  height: 100%;
  position: absolute;
  -webkit-transform: translateZ(-100px);
          transform: translateZ(-100px);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
}

.cube1:hover {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.side1 {
  background: rgba(45, 179, 74, 0.3);
  border: 2px solid #2db34a;
  height: 196px;
  position: absolute;
  width: 196px;
}

.front {
  -webkit-transform: translateZ(100px);
          transform: translateZ(100px);
  text-align: center;
}

.back {
  -webkit-transform: rotateX(180deg) translateZ(100px);
          transform: rotateX(180deg) translateZ(100px);
  text-align: center;
}

.left1 {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
  text-align: center;
}

.right1 {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
  text-align: center;
}

.top1 {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
  text-align: center;
}

.bottom {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
  text-align: center;
}

@keyframes spin {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
/*# sourceMappingURL=style.css.map */